@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
    --cor-black: #000000;
    --cor-white: #ffffff;
    --cor-background-text: #bae3e19e;
    --cor-background-image-text: #54675593;
    --cor-background-principal: #587a85;
    --cor-background-image: #000000;
    --cor-shadow: #00000083;
    
    --font-text:  'Kalam', cursive;
    --font-title:  'Comfortaa', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: var(--cor-background);
}

/*
    HEADER
*/

header {
    background-color: var(--cor-background-principal);
    color: var(--cor-white);
    font-family: var(--font-title);
    text-align: center;
}

header h1 {
    font-size: 5vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

header a {
    font-weight: bolder;
    text-decoration: none;
    color: var(--cor-white);
}

header a:hover {
    text-decoration: underline;
}

/*
    MAIN
*/

main { 
    font-family: var(--font-text);
    font-size: 1.5em;
}

main p {
    background-position-y: center;
}

div {
    padding-top: 10vh;
    padding-left: 25px;
    padding-bottom: 10vh;
    line-height: 2em;
    /*font-size: 3.5vw;*/
}

div p {
    padding: 1.5em;
}

div.normal {
    background-color: var(--cor-background-text);
    color: var(--cor-black);
}

div.image {
    background-color: var(--cor-background-image);
    color: var(--cor-white);
    box-shadow: inset 6px 6px 13px 0px var(--cor-shadow);
}

div.image p {
    background-color: var(--cor-background-image-text);
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    text-shadow: 1px 1px 0px var(--cor-black);
}

div#image-01 {
    background-image: url(../img/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

div#image-02 {
    background-image: url(../img/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

/*
    FOOTER
*/

footer {
    background-color: var(--cor-background-principal);
    color: var(--cor-white);
    font-family: var(--font-title);
    font-size: 0.8em;
    text-align: center;
    padding: 15px;
}

footer a {
    font-weight: bolder;
    text-decoration: none;
    color: var(--cor-white);
}

footer a:hover {
    text-decoration: underline;
}